<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="S4BDesktop" verbose="2">
	<test name="S4B Cucumber Tests">
		<classes>
		<class name="runners.Login_Scenarios_Test"></class>  
		<class name="runners.Contacts_Related_Test"></class> 
	    <class name="runners.Send_Receive_Message_Test"></class>  
	  	<class name="runners.CallP_Test"></class>    
	 	<class name="runners.Settings_Button_Check_Test"></class>  
		   						
		</classes>
	</test>
</suite>
